body{
  background-color:rgb(138, 137, 231) ;
  background-image: url('https://t3.ftcdn.net/jpg/01/53/97/96/360_F_153979609_i6SGjTHQdBknuxRcgtnVvx8G1ezK9Xoi.jpg');
}
table{
  border: 2px solid rgb(235, 207, 51);
}
p{
  text-align: 
}
img{
  border: ;
  text-align: center;
}

